
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h3>Category Tablo Örneği</h3>
        <table>
            
            <tr>
                <th>ID</th>
                <th>Adı</th>
                <th>Açıklama</th>
                <th>Durumu</th>
            </tr>
        </table>
    </div>
</body>
</html>