@model EntityLayer.Concrete.Setting
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ayarlar</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Setting</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary card-outline">
                        <div class="card-body pad table-responsive">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ayarlar</font></font></h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body p-0">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th @*style="width: 10px"*@><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ayar ID</font></font></th>
                                                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Duyuru</font></font></th>
                                                <th @*style="width: 40px"*@><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kargo Ücreti</font></font></th>
                                                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Güncelle</font></font></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Model.SettingID</font></font></th>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Model.Announcement</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Model.CargoPrice</font></font></td>
                                                <td><a href="/Setting/EditSetting/@Model.SettingID" class="btn btn-primary btn-sm">Güncelle</a></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>

                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- ./row -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>