@{
    ViewBag.Title = "About";
}

<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Hakkımızda
                    </h3>

                    <article class=" stext-113 cl6 p-b-26">
                        <p class="stext-113 cl6 p-b-26"><em><strong>Mor rengin her tonunu bünyesinde barındıran lavanta hem ruha hem bedene iyi gelen bir çiçek. Pek çok kültürün tarihinde bu güzel bitkinin izlerine rastlamak mümkün. Bugün Türkiye’de de Isparta tarafına yolunuz düşerse uçsuz bucaksız lavanta tarlalarını görebilirsiniz. Isparta yöresiyle ilgili deneyimlerinizi bizle ve diğer bayilerimizle paylaşmak için yorum bölümünden yararlanabilirsiniz.</strong></em></p>

                        <p class="stext-113 cl6 p-b-26">
                            Mitolojiye göre Zeus’un kızı Artemis doğarken genç kızlar ellerinde lavanta çiçekleri ile doğumu izler. Tanrıça Artemis de doğumunda duyduğu bu kokuyu hiç bırakmaz. Tüm vücuduna sürdüğü lavanta yağı nedeniyle, geçtiği her yerde kokulu bir iz bırakır. Ölümlüler aldıkları her lavanta kokusunda tanrıçanın biraz önce oradan geçtiğini anlar.<br>
                            Lavantanın tarihteki kullanımı da oldukça bol. Hz. İsa’nın annesi Meryem ANA, güvelerden korunmak için lavanta kullanırmış. Aynı lavanta Ortaçağ’da vebadan korunmanın bir yöntemi olmuş. Binaların zeminleri lavantayla kaplanır, vebanın bu evlere ulaşamayacağına inanılırmış. Romalılar banyo sularına lavanta çiçekleri serpermiş. İngiltere Kraliçesi I. Elizabeth ise lavanta çiçeğini şekerle karıştırarak lavanta konserveleri hazırlatır ve bunları tatlı niyetine yermiş. Sofrasında tuz ve biberin yanında toz hâline getirilmiş lavantadan vazgeçmezmiş.
                        </p>

                        <p class="stext-113 cl6 p-b-26">
                            <strong>HÜRREM SULTAN’IN DA FAVORİSİ</strong><br>
                            Lavantanın Osmanlı sarayında da her zaman saygın bir yeri olmuş. Kanuni Sultan Süleyman’ın eşi Hürrem Sultan, sabahları ayaklarını lavantayla ovdurur, yürüdükçe çevresine lavanta kokuları yayılırmış.&nbsp;<br>
                            Evliyâ Çelebi’nin söylediğine göre Darüşşifa'da günün belirli saatlerinde hastalara çiçek koklatılıyormuş. Limon, fesleğen, okaliptus, kişniş konsantrasyon bozukluğu; portakal, gül, yasemin, kişniş, zencefil ve ıtır mutluluk; lavanta, bergamot kızgınlık; zencefil, biberiye, fesleğen, limon, greyfurt, kişniş unutkanlık; zencefil, karabiber ve biberiye ise dalgınlığa karşı kullanılıyormuş.<br>
                            Bazı kültürlerde bebek beşiğine ve lohusa yatağına asılan lavantanın kötülükleri uzaklaştırdığına inanılıyor. Yeni doğan bebeklerin doğumunu kutlamak için üzerlerine lavantalı su serpiliyor. Çeyiz sandıklarına mutlu bir geleceğe dair umutların beklentisiyle geleneksel olarak lavanta keseleri konuyor. Kısacısı lavanta farklı toplumlarda, yeni başlangıçlarla, umut ve arınmayla ilişkilendiriliyor.
                        </p>

                        <br>
                        &nbsp;
                    </article>
                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            Deha, %1 ilham ve %99 çalışmaktan gelir. Hiçbir başarımı tesadüfe borçlu değilim, buluşlarım da tesadüfün değil çalışmalarımın eseridir. Fırsat, çoğu insan tarafından kaçırılır. Çünkü o, iş önlüğü giyer ve iş gibi görünür. Ben çok çalıştım. Ama aslında hayatımda hiçbir gün çalışmadım. Hepsi eğlenceydi.
                        </p>

                        <span class="stext-111 cl8">
                            - Thomas Edison
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1" style="margin-top:70px">
                    <div class="hov-img0">
                        <img src="~/images/about.jpg" alt="IMG">
                    </div>
                </div>
                <div class="how-bor1" style="margin-top:100px">
                    <div class="hov-img0">
                        <img src="~/images/slider.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

